.App {
  text-align: center;
  background-color: black;
  min-width: 375px;
  max-width: 100vw;
  min-height: 100vh;
  color: lightgrey;
  font-family: monospace;
  font-weight: 700;
}

a {
  color: lightgrey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App__band-pics {
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.App__logo {
  max-width: 100%;
}

.App__band-pics {
  margin-bottom: 64px;
}

.App__band-pics-closeup--landscape {
  max-width: 100vw;
  overflow-x: hidden;
}

.App__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 10px;
  flex-wrap: wrap;

}

.App__link-item--middle {
  flex: 2;
  margin: 0 28px;
}

.App__link-item {
  flex: 1;
  margin: 10px 0;
  font-size: 64px;
}

.App__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: pre-wrap;
}

.App__footer-item {
  display: flex;
  font-size: 14px;
  font-style: italic;
}

.banner {
  background-color: lightgray;
  width: 100%;
  height: 80px;
  color: black;
}
